# Financial Modeling Regression Analysis

Regression Analysis represents the relationship between a dependent (target) variable and one or more independent variables.

In financial modeling, we can use single regression analysis to estimate the strength of the independent variable(s) on the target variable(s) and forecase future trends. This works in settings where we can hypothesize a correlation between the target and independent variables.

Regression analysis is a form of predictive analysis.

## Data loading and preprocessing

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [9]:
df = pd.read_excel('weekly_sales.xlsx')
df.head()

   Year  Week         Sales  ad_clicks
0  2019     1  8.571254e+05        445
1  2019     2  3.584899e+05        373
2  2019     3  1.779398e+06       1204
3  2019     4  6.922397e+05        406
4  2019     5  1.079121e+06        946

In [11]:
df.shape

(106, 6)

In [14]:
df.describe()

          Year    Week       Sales  ad_clicks               Period
count  106.000 106.000     106.000    106.000                  106
mean  2019.500  27.000 1069450.365    694.406  2020-01-06 00:00:00
min   2019.000   1.000  151151.772     60.000  2019-01-07 00:00:00
25%   2019.000  14.000  727872.488    457.500  2019-07-09 18:00:00
50%   2019.500  27.000  992238.760    626.000  2020-01-06 00:00:00
75%   2020.000  40.000 1267772.332    864.250  2020-07-04 06:00:00
max   2020.000  53.000 3180019.294   2165.000  2021-01-04 00:00:00
std      0.502  15.370  502719.244    348.424                  NaN

In [13]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       106 non-null    int64
 1   Week       106 non-null    int64
 2   Sales      106 non-null    float64
 3   ad_clicks  106 non-null    int64
 4   Year-Week  106 non-null    object
 5   Period     106 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 5.1+ KB

In [10]:
df['Year-Week'] = df['Year'].astype(str) + '-' + df['Week'].astype(str)
df['Period'] = pd.to_datetime(df['Year-Week'].astype(str) + '-1', format='%Y-%W-%w')
df.head()

   Year  Week         Sales  ad_clicks Year-Week     Period
0  2019     1  8.571254e+05        445    2019-1 2019-01-07
1  2019     2  3.584899e+05        373    2019-2 2019-01-14
2  2019     3  1.779398e+06       1204    2019-3 2019-01-21
3  2019     4  6.922397e+05        406    2019-4 2019-01-28
4  2019     5  1.079121e+06        946    2019-5 2019-02-04